
/*CSS Modal*/
#demo-modal{
    margin: 0 auto;
    overflow: hidden;
}
#video-content{
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
    height: 280px;
}
#video-content iframe{
    max-width: 600px;
    width: 100%;
    min-height: 100%;
}
#demo-modal{
    max-width: 600px;
    height: 400px;
}

#demo-modal2{
    margin: 0 auto;
    overflow: hidden;
}
#video-content2{
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
    height: 330px;/*Muda aqui!*/
}
#video-content2 iframe{
    max-width: 600px;
    width: 100%;
    min-height: 100%;
}
#demo-modal2{
    max-width: 600px;
    height: 400px;
}


#demo-modal3{
    margin: 0 auto;
    overflow: hidden;
}
#video-content3{
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
    height: 280px;
}
#video-content3 iframe{
    max-width: 600px;
    width: 100%;
    min-height: 100%;
}
#demo-modal3{
    max-width: 600px;
    height: 400px;
}



#demo-modal4{
    margin: 0 auto;
    overflow: hidden;
}
#video-content4{
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
    height: 280px;
}
#video-content4 iframe{
    max-width: 600px;
    width: 100%;
    min-height: 100%;
}
#demo-modal4{
    max-width: 600px;
    height: 400px;
}



#demo-modal5{
    margin: 0 auto;
    overflow: hidden;
}
#video-content5{
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
    height: 280px;
}
#video-content5 iframe{
    max-width: 600px;
    width: 100%;
    min-height: 100%;
}
#demo-modal5{
    max-width: 600px;
    height: 400px;
}



#demo-modal6{
    margin: 0 auto;
    overflow: hidden;
}
#video-content6{
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
    height: 280px;
}
#video-content6 iframe{
    max-width: 600px;
    width: 100%;
    min-height: 100%;
}
#demo-modal6{
    max-width: 600px;
    height: 400px;
}

/**/

img,
iframe,
object,
embed,
video {
max-width: 100%;
height: auto;
}
.container-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1020px;
    background-image: url('../img/fundo-laranja-mulher-dieta-21-dias-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container-image h1, p{
    text-align: center;
}
.container-image h1{
    font-size: 2.8em;
    color: #FF003A;
    font-weight: bold;
    padding: 46px 0 24px 0;
    font-family: 'Open Sans', sans-serif;
    
}
.container-image p{
    max-width: 750px;
    width: 100%;
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    -webkit-text-shadow: 3px 3px 2px rgb(109, 107, 107);
    -moz-text-shadow: 3px 3px 2px rgb(109, 107, 107);
    text-shadow:3px 3px 2px rgb(109, 107, 107);
}
.container-video{
    display: flex;
    max-width: 750px;
    width: 100%;
    max-height: 430px;
    height: 100%;
    margin: 35px auto;
    border: 8px solid #d6d6d6;
    box-sizing: border-box;
}
iframe{
    max-width: 742px;
    width: 100%;
    background: #000;
}

@media (max-width: 600px){
    .container-video{
        height: 354px;
    }
}

@media (max-width: 480px){
    .container-video{
        height: 286px;
    }
}

@media (max-width: 360px){
    .container-video{
        height: 219px;
    }
}

.cont-promocao{
    max-width: 750px;
    width: 100%;
    height: 600px;
}
.cont-promocao p{
    font-size: 18px;
    color: #43545B;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
}
.cont-promocao .warning{
    color: #FF3755;
}
.cont-promocao img{
    max-width: 100%;
    margin: 54px 0 26px 0;
}
.cont-promocao .button{
    max-width: 750px;
    display: block;
    width: 100%;
    height: 97px;
    background: #1bb868;
    border-radius: 6px;
    box-shadow: 0px 5px 0px 0px rgba(31,117,73,1);
}
.cont-promocao .button:hover{
    background: #3DC37F;
}
.cont-promocao a{
    text-decoration: none;
}
.cont-promocao .button  span{
    text-align: center;
    display: block;
    color: #fff;
}
.cont-promocao .clique{
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-top: 3.5%;
    padding-bottom: 13px;
}
.cont-promocao .sim{
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
@media (max-width: 380px){
    .cont-promocao .button{
        height: 84px;
    }
    .cont-promocao img{
        height: 38px;
    }
}
@media (max-width: 379px){
    .cont-promocao .clique{
        font-size: 1.2em;
        padding-top: 6.7%;
    }
    .cont-promocao .sim{
        font-size: 0.7em;
    }
}
@media (min-width: 380px) and (max-width: 436px){
    .cont-promocao .clique{
        font-size: 1.5em;
        padding-top: 5.5%;
    }
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: #F7F7F7;
}
.container .desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 493px;
    width: 100%;
    background: #fff;
    padding-bottom: 40px;
    margin: 40px 20px 40px 0;
    border-radius: 6px;
}
.container .desc h2{
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    color: #7f8c8d;
    font-weight: bold;
}
.container .desc p{
    padding: 0 30px 0 30px;
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #7f8c8d;
}
.container .desc ul li{
    padding: 0 30px 5px 30px;
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #7f8c8d;
}
.container .desc .img{
    width: 120px;
    height: 96px;
    margin: 30px 0 20px 0;
}
.container .doutor{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 100%;
    height: 880px;
    margin: 40px 0  0 0;
    border-radius: 6px;
    background: #fff;
}

.container .doutor .img2{
    width: 150px;
    height: 150px;
    margin: 60px 0 20px 0;
}
.container .doutor h2{
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    color: #7f8c8d;
    font-weight: bold;
}
.container .doutor .h2{
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #95a5a6;
    font-weight: bold;
}
.container .doutor p{
    padding: 0 30px 0 30px;
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #7f8c8d;
}
@media (min-width: 800px) and (max-width: 812px){
    .container{
        flex-wrap: wrap;
    }
    .container .doutor{
        margin-right: 20px;
        margin-bottom: 40px;
    }
    .container .desc{
        margin-right: 0;
        margin-bottom: -10px;
    }
    
}

@media(max-width: 799px){
    .container .desc{
        margin-right: 0;
        margin-bottom: -10px;
    }
    .container .doutor{
        margin-right: 0;
        margin-bottom: 40px;
    }
}


.container-resul{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.container-resul h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    color: #3c5362;
    text-align: center;
    display: flex;
    align-items: center;
}
@media(max-width: 649px){
    .container-resul h2{
        font-size: 2em;
    }
}
@media (min-width: 650px) and (max-width: 760px){
    .container-resul h2{
        font-size: 2.4em;
    }
}

.container-videos-depoiments{
    width: 100%;
    background: #EFEFEF;
    padding-bottom: 47px;
}
.container-videos-depoiments_int{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
    flex-wrap: wrap;
    max-width: 880px;
}
.container-videos-depoiments_int > div{
    flex: 1 1 190px;
    height: 150px;
    margin-bottom: 37px;
    margin-right: 22px;
    margin-left: 22px;
    border-radius: 4px;
    background: #000;
    border: solid 10px #FFFFFF;
}

.container-videos-depoiments_int > div p{
    position: relative;
    top: 15px;
    color: #43544b;
    font-size: 1.3em;
    font-family: 'The Girl Next Door', cursive;
    font-weight: bold;
}
@media only screen and (max-width: 507px) {
    .container-videos-depoiments_int > div{
        flex: 1 1 190px;
        max-width: 290px;
        height: 160px;
    }
    .container-videos-depoiments_int > div p{
        position: relative;
        top: 175px;
    }
}
@media (min-width: 821px) and (max-width: 850px){
    .container-videos-depoiments_int > div p{
        position: relative;
        top: 30px;
    }
}

@media (min-width: 762px) and (max-width: 820px){
    .container-videos-depoiments_int > div p{
        position: relative;
        top: 35px;
    }
}

@media (min-width: 702px) and (max-width: 761px){
    .container-videos-depoiments_int > div p{
        position: relative;
        top: 30px;
    }
    .container-videos-depoiments_int > div{
        height: 150px;
    }
    .container-videos-depoiments_int > div img{
        height: 120px;
    }
}

@media (min-width: 508px) and (max-width: 701px){
    .container-videos-depoiments_int > div img{
        height: 130px;
        width: 287px;
    }
}
@media (min-width: 468px) and (max-width: 507px){
    .container-videos-depoiments_int > div {
        height: 140px;
    }
    .container-videos-depoiments_int > div img{
        height: 120px;
    }
    .container-videos-depoiments_int > div p{
        position: relative;
        top: 24px;
    }
}
@media(max-width: 467px){
    .container-videos-depoiments_int > div img{
        height: 140px;
        width: 270px;
    }
    .container-videos-depoiments_int > div p{
        position: relative;
        top: 23px;
    }
}

.inc{
    width: 100%;
    height: 69px;
    background: #FF003A;
}
.inc h2{
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 69px;
    text-align: center;
    margin: 0;
}

@media(max-width: 566px){
    .inc h2{
        font-size: 1.3em;
        
    }
}

.imgInc{
    width: 100%;
}
@media(max-width: 479px){
    .imgInc{
        height: 200px;
    }
}
@media (min-width: 480px) and (max-width: 620px){
    .imgInc{
        height: 240px;
    }
}
@media(max-width: 479px){
    .inc3 .imgInc{
        height: 200px;
    }
}
@media (min-width: 480px) and (max-width: 620px){
    .inc3 .imgInc{
        height: 240px;
    }
}
.content-area{
    width: 100%;
    height: 117px;
}
.content-area h2{
    text-align: center;
    line-height: 117px;
    font-family: 'Montserrat', sans-serif;
    color: #3c5362;
    font-size: 2.6em;
}

@media only screen and (max-width: 389px) {
    .content-area{
        height: 60px;
    }
    .content-area h2{
        font-size: 1em;
        line-height: 60px;
    }
}
@media (min-width: 390px) and (max-width: 479px){
    .content-area h2{
        font-size: 1.3em;
    }
}
@media (min-width: 480px) and (max-width: 539px){
    .content-area h2{
        font-size: 1.5em;
    }
}
@media (min-width: 540px) and (max-width: 649px){
    .content-area h2{
        font-size: 1.8em;
    }
}
@media (min-width: 650px) and (max-width: 759px){
    .content-area h2{
        font-size: 2em;
    }
}

.container-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.container-body-img{
    max-width: 317px;
    height: 325px;
    width: 100%;
    margin-right: 22px;
    
}
.container-body-desc{
    max-width: 440px;
    width: 100%;
}
.container-body-desc h2{
    text-align: center;
    font-size: 2.25em;
    color: #00cb8c;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.container-body-desc ul li{
    padding-left: 40px;
    padding-bottom: 34px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.12em;
    color: #43545b;
}
@media(max-width: 778px){
    .container-body-img{
        margin-bottom: 20px;
    }
}
.inc2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98px;
    margin-top: 26px;
    background: #FF003A;
}
.inc2 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    color: #fff;
    text-align: center;
}
@media (min-width: 514px) and (max-width: 608px){
    .inc2 h2{
        font-size: 1.3em;
    }
}
@media (min-width: 407px) and (max-width: 513px){
    .inc2{
        height: 80px;
    }
    .inc2 h2{
        font-size: 1em;
    }
}
@media (min-width: 358px) and (max-width: 406px){
    .inc2{
        height: 70px;
    }
    .inc2 h2{
        font-size: 0.9em;
    }
}
@media(max-width: 357px){
    .inc2{
        height: 70px;
    }
    .inc2 h2{
        font-size: 0.8em;
    }
}

.container-images{
    width: 100%;
    background: #EFEFEF;
    padding-top: 40px;
    padding-bottom: 40px;
}
.container-images-int{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-images-int-img1{
    max-width: 364px;
    width: 100%;
    margin-right: 21px;
    margin-bottom: 40px;
    border-radius: 6px;
    border: 10px solid #fff;
}
@media(max-width: 748px){
    .container-images{
        padding-bottom: 10px;
    }
    .container-images-int{
        flex-direction: column;
        align-items: center;
    }
    .container-images-int-img1{
        margin-right: 0px;
    }
}
.container-images-int-img2{
    max-width: 364px;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 6px;
    border: 10px solid #fff;
}
.container-images-int-img1 img, .container-images-int-img2 img{
    height: 100%;
}

.inc3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 128px;
    background: #FF003A;
}
.inc3 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    color: #fff;
    text-align: center;
}

@media(max-width: 379px){
    .inc3 h2{
        font-size: 0.8em;
    }
    .inc3{
        height: 80px;
    }
}
@media (min-width: 380px) and (max-width: 479px){
    .inc3 h2{
        font-size: 1em;
    }
    .inc3{
        height: 90px;
    }
}
@media (min-width: 480px) and (max-width: 588px){
    .inc3 h2{
        font-size: 1.3em;
    }
}

.container-promoc{
    display: flex;
    justify-content: center;
}
@media (max-width: 380px){
    .container-promoc .cont-promocao2 .button{
        height: 84px;
    }
    .container-promoc .cont-promocao2 img{
        height: 40px;
    }
}
@media (max-width: 379px){
    .container-promoc .cont-promocao2 .clique{
        font-size: 1.2em;
        padding-top: 6.7%;
    }
    .container-promoc .cont-promocao2 .sim{
        font-size: 0.7em;
    }
}
@media (min-width: 380px) and (max-width: 436px){
    .container-promoc .cont-promocao2 .clique{
        font-size: 1.5em;
        padding-top: 5.5%;
    }
}

.container-video2{
    display: flex;
    max-width: 750px;
    width: 100%;
    max-height: 430px;
    height: 100%;
    margin: 35px auto;
    box-sizing: border-box;
}
.cont-promocao2{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 100%;
}
.cont-promocao2 .zero{
    margin: 25px auto;
}
.cont-promocao2 p{
    font-size: 18px;
    color: #43545B;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
}
.cont-promocao2 .p2{
    margin-top: -20px;
    font-size: 0.7em;
}
.cont-promocao2 .warning{
    color: #FF3755;
}
.cont-promocao2 img{
    max-width: 100%;
    margin: 24px 0 26px 0;
}
.cont-promocao2 .button{
    max-width: 750px;
    display: block;
    width: 100%;
    height: 97px;
    background: #1bb868;
    border-radius: 6px;
    box-shadow: 0px 5px 0px 0px rgba(31,117,73,1);

}
.cont-promocao2 .button:hover{
    background: #3DC37F;
}
.cont-promocao2 a{
    text-decoration: none;
}
.cont-promocao2 .button  span{
    text-align: center;
    display: block;
    color: #fff;
}
.cont-promocao2 .clique{
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-top: 3.5%;
    padding-bottom: 10px;
}
.cont-promocao2 .sim{
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding-top: 0.5%;
}

.cont-gatant{
    max-width: 750px;
    width: 100%;
    margin: 30px auto;
}
.cont-gatant p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    color: #43545b;
}
.cont-gatant-int{
    display: flex;
    width: 100%;
    background: #3A3E40;
    margin: 27px 0 39px 0;
    padding-bottom: 40px;
    border-radius: 8px;
}
.cont-gatant-int .img{
    max-width: 134px;
    width: 100%;
    height: 133px;
    margin: 22px 32px 0 22px;
}
.cont-gatant-int .desc{
    max-width: 560px;
    width: 100%;
}
.cont-gatant-int .desc h2{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    padding-top: 22px;
}
.cont-gatant-int .desc p{
    font-family: 'Open Sans', sans-serif;
    padding-right: 60px;
    text-align: left;
    color: #fff;
    font: 1.06em;
}

@media (max-width: 640px){
    .cont-gatant-int{
        flex-direction: column;
        align-items: center;
    }
    .cont-gatant-int .desc h2{
        text-align: center;
        font-size: 1.2em;
    }
    .cont-gatant-int .desc  p{
        text-align: center;
        padding: 0 8px 0 8px;
        font-size: 1em;
    }
}

.inc4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 67px;
    margin-top: 26px;
    background: #FF003A;
}

.inc4 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    color: #fff;
    text-align: center;
}

@media(max-width: 429px){
    .inc4 h2{
        font-size: 1.1em;
    }
    
}
@media (min-width: 430px) and (max-width: 499px){
    .inc4 h2{
        font-size: 1.2em;
    }
    
}
@media (min-width: 500px) and (max-width: 570px){
    .inc4 h2{
        font-size: 1.4em;
    }
}

.endossado{
    width: 100%;
    max-height: 107px;

}
@media (max-width: 440px){
    .endossado{
        height: 58px;
        
    }
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 124px;
    background: #2D333E;
}
.footer-int{
    margin: 0 auto;
    padding-top: 35px;
    max-width: 440px;
}
.footer-int p{
    margin-top: 22px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #cfcfcf;
}
.footer-int a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    margin-right: 5px;
    margin-left: 5px;
    color: #7c8c9c;
    text-decoration: underline;
}
footer .footer-int .footer-link{
    margin-left: 10px;
}
@media (max-width: 374px){
    footer .footer-int a{
        font-size: 0.8em;
    }
    footer .footer-int p{
        font-size: 0.6em;
    }
    footer .footer-int .footer-link{
        margin-left: 25px;
    }
}
@media (min-width: 375px) and (max-width: 379px){
    footer .footer-int a{
        font-size: 0.8em;
    }
    footer .footer-int p{
        font-size: 0.6em;
    }
    footer .footer-int .footer-link{
        margin-left: 40px;
    }
}
@media (min-width: 380px) and (max-width: 399px){
    footer .footer-int a{
        font-size: 0.8em;
    }
    footer .footer-int p{
        font-size: 0.6em;
    }
    footer .footer-int .footer-link{
        margin-left: 40px;
    }
}
@media (min-width: 400px) and (max-width: 413px){
    footer .footer-int a{
        font-size: 0.8em;
    }
    footer .footer-int .footer-link{
        margin-left: 48px;
    }
    footer .footer-int p{
        font-size: 0.7em;
    }
}
@media (min-width: 414px) and (max-width: 420px){
    footer .footer-int a{
        font-size: 0.9em;
    }
    footer .footer-int .footer-link{
        margin-left: 38px;
    }
}

.footer-int a:hover{
    text-decoration: none;
}

